.swiper {
  height: 500px;
  width: 100%;
  margin-bottom: 0;
}

.swiper-1 {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.swiper-2 {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.swiper-3 {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.swiper-3 {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.swiper-4 {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.swiper-5 {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.swiper-6 {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.swiper-7 {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.swiper-8 {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.swiper-9 {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.swiper-10 {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.mySwiper {
  margin: 25px;
}
.mySwiper1 {
  height: 100px;
  margin-top: 10px;
  width: 200px;
}
.mySwiper2 {
  height: 100px;
  margin-top: 10px;
  width: 200px;
}
.mySwiper3 {
  height: 100px;
  margin-top: 10px;
  width: 200px;
}
.mySwiper4 {
  height: 100px;
  margin-top: 10px;
  width: 200px;
}
.mySwiper5 {
  height: 100px;
  margin-top: 10px;
  width: 120px;
}
.mySwiper6 {
  height: 100px;
  margin-top: 10px;
  width: 120px;
}
.mySwiper7 {
  height: 100px;
  margin-top: 10px;
  width: 120px;
}
.mySwiper8 {
  height: 100px;
  margin-top: 10px;
  width: 120px;
}
.mySwiper9 {
  height: 100px;
  margin-top: 10px;
  width: 120px;
}
.mySwiper10 {
  height: 100px;
  margin-top: 10px;
  width: 120px;
}
